// _defaults.scss

$main: #E37222;
$main-light: #EEAA7B;
$main-super-light: #EFAA81;
$secondary: #07889B;
$secondary-light: #66B9BF;
$secondary-super-light: #9CCFD9;
$white: #FFFFFF;
$gray: #DDDDDD;
$gray-dark: #808080;
$gray-light: #EEEEEE;
$breakpoints-phone: 500px;
$breakpoints-tablet: 768px;
$breakpoints-desktop: 1024px;
$black: #333333;
$purple: #395999;
