// style.scss

@import 'defaults';

.arrangement {
  display: flex;
  height: 100vh;
  flex-direction: column;
  @media screen and (device-width: $breakpoints-phone) {
    flex-direction: row;
  }

  .column {
    flex-direction: column;
    display: flex;

    .sub-container {
      display: flex;
      flex-direction: row;
      flex: 2;


      .container {
        // height: 100%;

        &:hover {
          opacity: .4;
          color: #000000;
        }
      }
    }

    &.col-right {
      display: flex;
      flex-direction: row;

      .sub-column {
        flex-direction: column;
        flex: 1;
        display: flex;
      }
    }

    .container {
      // position: relative;
      color: $white;
      // width: 10rem;
      // height: 10rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      a {
        color: inherit;
        text-decoration: inherit;
      }

      &.names {
        background: $gray;
        color: $secondary-light;
        font-size: 2rem;
        // flex: 1;
      }

      &.resume {
        background: $gray;
        // flex: 1;
        color: $secondary-light;
        font-size: 2rem;
      }

      &.skills {
        background: $secondary-light;
        color: $white;
      }

      &.urls {
        background: $secondary;
        color: $white;
      }

      &.history {
        background: $main;
      }

      &.about-me {
        background: $secondary;
      }

      &.work {
        background: $secondary-light;
      }

      &.projects {
        background: $main-light;
      }

      &.github {
        background: $main-light;
      }

      &:hover {
        opacity: .4;
        color: #333333;
      }

      .content {
        // max-width: 50%;
      }
    }

    &.left {
      flex: 1;
    }

    &.right {
      flex: 1;
    }
  }
}

.overlay-container {
  background: $gray-light;
  color: $secondary;
  font-size: 1.7rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #9cc9e6;
  border: solid 1px $white;
  padding: 50px;

  h1 {
    border-bottom: solid 4px $secondary;
    text-align: center;
    margin: 0 auto;
    // width: 50%;
    padding-bottom: 10px;
  }

  .history, .about-me, .skills {
    h1 {
      color: $main-light;
    }
  }
}
