// react colors
$react-black: #20232a;
$react-white: rgb(247, 247, 247);
$react-gray: #282c34;
$react-gray-dark: #373940;
$react-blue: #61dafb;

// normal colors

$orange: #E37222;
$orange-light: #EEAA7B;
$orange-super-light: #EFAA81;
$blue: #07889B;
$blue-light: #66B9BF;
$blue-super-light: #9CCFD9;
$regular-gray: #DDDDDD;
$regular-gray-dark: #808080;
$regular-gray-light: #EEEEEE;


// variables
$main: $orange;
$main-light: $orange-light;
$main-super-light: $orange-super-light;
$secondary: $blue;
$secondary-light: $blue-light;
$secondary-super-light: $blue-super-light;
$white: $react-white;
$gray: $regular-gray;
$gray-dark: $regular-gray-dark;
$gray-light: $regular-gray-light;
$black: $react-black;
$purple: #395999;
$cursor: pointer;

// light gray rgb(247, 247, 247)
// blue rgb(97, 218, 251)
// another blue rgb(97, 218, 251)
// gray #20232a
// another lighter gray rgb(40, 44, 52)
// blue #61dafb
// another gray #20232a
// another "black" #282c34

