$breakpoints-phone: 500px;
$breakpoints-tablet: 768px;
$breakpoints-desktop: 1024px;
$cursor: pointer;

$font-default: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
$font-size: 16px;
$font-size-large: 60px;
$font-weight-normal: 300;
